<%- include('./template/header'); -%>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="/"><%= breadcrumb %></a></li>
                        <li class="breadcrumb-item active"><%= breadcrumb_data %> </li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <!-- Main content -->
    <section class="content">
        <!-- Horizontal Form -->
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">Form <%= breadcrumb_data %></h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form class="form-horizontal" action="/update" method="post">
                <div class="card-body">
                    <div class="form-group row">
                        <label for="inputname" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="hidden" name="id" value="<%= students.id %>" required>
                            <input type="text" class="form-control" id="inputname" name="name" value="<%= students.name %>" placeholder="Input Name" required autofocus>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputemail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputemail" name="email" value="<%= students.email %>"  placeholder="Input Email" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputphoneno" class="col-sm-2 col-form-label">Phone no</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputphoneno" name="phone_no" value="<%= students.phone_no%>"  placeholder="Input Phone no" required>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-info">Submit</button>
                    <a href="/" class="btn btn-default float-right">Back</a>
                </div>
                <!-- /.card-footer -->
            </form>
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
<%- include('./template/footer'); -%></div>